* {
	color: #363942
}

body, html {
	background-color: #D8CAA8;
	height:100%;
	width:100%;
}

#myWork {
	align-content: center;
}

.portfolio {
	text-align: center;
	padding:0px;
	overflow: auto;
	margin: auto;
	margin-top:10px;
}


.jumbotron {
	background-image: url("/images/coolcat.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
	color:white;
	max-width: : 28em;
}

.navbar {
	background-color: #284907;
	/*margin-bottom: 20px;*/
	opacity: .9;
}
.navbar-nav{
	text-align: center;
}
