* {
	color: #363942
}

body {
	background-color: #D8CAA8;
}

#myWork {
	align-content: center;
}

.portfolio {
	background-color: #284907;
	text-align: center;
	padding:0px;
	overflow: auto;
	margin: auto;
	margin-top:10px;
}


.jumbotron {
	background-image: url("/images/coolcat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

.navbar {
	background-color: #284907;
	margin-bottom: 20px;
	opacity: .9;
}
.navbar-nav{
	text-align: center;
}
