* {
	color: 
}

body, html {
	height:100%;
	width:100%;
}

#myWork {
	align-content: center;
}

.portfolio {
	text-align: center;
	padding:0px;
	overflow: auto;
	margin: auto;
	margin-top:10px
}


.jumbotron {
	background-image: url("/images/coolcat.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
}

.navbar {
	background-color: #404040;
	color:#FFF;
}
.navbar-brand, .nav-link{
	color:#FFF;
}

@media (max-width: 767px) { /* Phone Devices */
	.jumbotron {
	}
}
}
@media (min-width: 768px) { /* Tablets/ Desktop*/

}