*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: $primary-font;
  background-color: hsl(206, 56%, 88%);
}

div.App {
  animation: app-load 1s linear;
}



