section.about-section {
  background: url('./images/bg-cont-1.svg');
  background-size: cover;
  padding: 5%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "story soft-skills" 
    "story technical-skills";

  article.my-story {
    border: none;
    grid-area: story;
    display: flex;
    justify-content: center;
    flex-direction: column;


    div.my-story-container {
      background-color: $splash-bgc-light;
      @include box-styling;
    }

    p {
      text-indent: 2rem;
      color: $font-dark;
    }

    h4 {
      margin: 5px;
      color: $font-light;
    }
    
    section {
      padding: 15px 5px;
      margin: 10px 0;
      border-bottom: 2px solid $font-lighter;
    }

    section.my-story-beginning {
      min-width: 300px;

      div.title-container {
        text-align: center;
        margin-bottom: 30px;
        border-bottom: 2px solid $font-lighter;

        img {
          border-radius: 50%;
          width: 30%;
          border: 4px solid $font-lighter;
        }

        h3 {
          margin: 10px;
          color: $font-darker;
        }
      }
    }

    section.my-story-software {
      border: none;
    }
  }
  
  article.soft-skills {
    grid-area: soft-skills;
    
  }

  article.my-skillset {
    grid-area: technical-skills;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    section.languages {
      display: flex;
      background-color: $splash-bgc-light;
      border-radius: 10px;
      padding: 10px;
      flex-direction: column;
      
      ul.skill-level-container {
        list-style-type: none;

        li.level-title {
          padding: 0 5% 1% 20%;
          justify-content: space-between;
        }
        
        li {
          display: flex;

          span.lang-img-cont {
            height: 100%;
            display: flex;
            align-items: center;
            width: 18%;
            text-align: right;
            border-right: 1px solid $font-lighter;
            font-size: .8rem;
            font-weight: bold;
            color: $font-darker;
          

            img {
              width: 40%;
              margin: auto;
              margin-right: 10px;
            }
          }

          div.level {
            width: 80%;
            display: flex;
            align-items: center;

            div.circle-container {
              white-space: nowrap;
              overflow: hidden;
              
              span.circle-level {
                width: 15px;
                height: 15px;
                margin: 10px;
                display: inline-block;
                border-radius: 50%;
                background-color: $font-lighter;
              }
            }
          }

          .react { width: 50%; }
          .sass { width: 75%; }
          .css { width: 80%; }
          .html { width: 80%; }
          .javascript { width: 80%; }
          .redux { width: 30%; }
          .node { width: 20%; }
        }
      }
    }
  }

  article.soft-skills,
  article.technical-skills {
    @include box-styling;
    margin-left: 5px;
  }
}

@media #{ $media-query-phone } {
  article {
    width: 90%;


    div.my-story-container {
      min-width: 320px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  section.about-section {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    article {
      width: 70%;
      margin: auto;
    }

    article.my-skillset {
      min-width: 575px;
    }
  }
}
