section.contact-section {
  background: url('./images/bg-cont-1.svg');
  background-size: cover;

  article {
    display: flex;
    flex-direction: column;
    padding-top: 7vh;
    margin: auto;
    width: 35%;

    div.contact-intro {
      text-align: center;

      h3 {
        font-size: 2rem;
      }
    }
    
    div.icon-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;

      a img {
      width: 75px;
      margin: 25px;
      }
    }
  }

  div.input-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding: 20px;
    border: 2px solid $primary-dark;
    border-radius: 20px;

    label {
      font-weight: bold;
    }

    input {
      height: 2rem;
      padding: 0 5px;
      font-size: 1rem;
      letter-spacing: .5px;
      margin-bottom: 20px;
    }

    textarea {
      height: 125px;
      font-size: 1rem;
      margin-bottom: 25px;
      padding: 5px;
    }
    
    input.submit-btn {
      width: 30%;
      margin: auto;
      height: 40px;
      border-radius: 20px;
      background-color: transparent;
      border: 3px solid #ffffff;
      font-weight: bold;
      transition: all ease-in-out 400ms;

      &:hover {
        color: $font-light;
        border-color: $font-light;
      }
    }

    input,
    textarea {
      border: 2px solid $secondary-light;
      border-radius: 5px;
    }
  }

  footer {
    position: absolute;
    height: 150px;
    background-color: $primary-dark;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: $primary-light;

    p.copy-right {
      margin: 10px;
    }

    section.site-info {
      margin: auto;
      display: flex;
      justify-content: center;

      div, a {
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 10px;
      }

      img {
        width: 40px;

        &:last-child {
          border-radius: 30%;
        }
      }

      a {
        display: block;
        color: $primary-light;
        text-decoration: none;

      }
    }
  }
}