section.contact-section {
  background: url('./images/bg-cont-1.svg');
  background-size: cover;

  article {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

    div.contact-intro {
      text-align: center;

      h3 {
        font-size: 2rem;
      }
    }
    
    div.icon-container {
      display: flex;
      justify-content: space-around;
      a img {
      width: 75px;
      margin: 25px;
      }
    }
  }
  div.input-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;

    label {
      // margin: 10px 0;
    }

    input {
      height: 1.8rem;
      padding: 0 5px;
      font-size: 1rem;
      letter-spacing: .5px;
      margin-bottom: 20px;
    }

    textarea {
      height: 125px;
      font-size: 1rem;
      margin-bottom: 25px;
    }

    input.submit-btn {
      width: 50%;
      margin: auto;
    }
  }
}