section.contact-section {
  background: url('./images/bg-cont-1.svg');
  background-size: cover;

  article {
    display: flex;
    flex-direction: column;
    padding-top: 7vh;
    margin: auto;
    width: 35%;

    div.contact-intro {
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $font-dark;
      }

      p {
        color: $font-light;
        font-size: 1.2rem;
      }
    }
    
    div.icon-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;

      a img {
      width: 75px;
      margin: 25px;
      }
    }
  }

  div.input-container {
    display: flex;
    min-width: 500px;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding: 20px;
    border: 2px solid $font-light;
    border-radius: 20px;

    label {
      font-weight: bold;
      color: $font-darker;
    }

    input {
      height: 2.5rem;
      letter-spacing: .5px;
      margin-bottom: 20px;
    }

    textarea {
      height: 125px;
      margin-bottom: 25px;
    }

    input.submit-btn {
      width: 100px;
      margin: auto;
      height: 40px;
      border: 0;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: transparent;
      transition: all ease-in-out 200ms;
      border: 2px solid #80b1b6;
      color: #80b1b6;
    }

    input,
    textarea {
      border: 2px solid $font-light;
      border-radius: 10px;
      font-weight: 1rem;
      padding: .2rem .5rem;
      background-color: $font-lighter;
      color: $font-dark;
    }
  }

  footer {
    position: absolute;
    height: 100px;
    background-color: $bgc-light;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: $font-darker;
    display: flex;
    justify-content: center;

    p.copy-right {
      margin: 10px;
    }

    section.site-info {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 30px;
      
      div, a {
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 10px;
      }

      img {
        width: 40px;

        &:last-child {
          padding: 4px;
          border-radius: 50%;
        }
      }

      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}