main.main-section {

  header {
    height: 5.2vh;
  }
  section.about-section {
    height: 95vh;
  }
  section.portfolio-section {
    height: 95vh;
  }
  section.contact-section {
    height: 95vh;
  }
} 