
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $nav-bgc;
  z-index: 10;

  nav {
    height: 100%;
    ul {
      display: flex;
      height: 100%;
      justify-content: center;
      align-content: center;
      list-style-type: none;
      border-radius: 20px;
      position: relative;

      li {
        font-size: 1.1rem;
        transition: box-shadow ease-in-out 600ms, background-color ease-in-out 300ms; 
        margin: 5px 0;
        border-radius: 10px;
        
        a {
          padding: 0 30px;
          line-height: 4.3vh;
          display: block;
          text-decoration: none;
          color: $font-darker;
        }

        &:hover {
          background-color: $hover-bgc-nav;
          font-weight: bold;
          cursor: pointer;
        }
      }

      li.resume-download {
        position: absolute;
        margin: 0 5px;
        font-size: .9rem;
        right: 0;
        width: 110px;
        text-align: center;

        a {
          padding: 2px;
          line-height: 20px;
          word-wrap: wrap;
          text-decoration: underline;
        }
      }
    }
  }
}

@media #{ $media-query-phone } {
  ul li a {
    padding: 0 10px !important;
    font-size: .9rem;
    justify-content: space-around !important;
  }

  li.resume-download {
    display: none;
  }
}

@media #{ $media-query-tablets } {
  ul li a {
    padding: 0 10px !important;
    justify-content: space-around !important;
  }

  nav ul {
    justify-content: flex-start !important;
  }

  li.resume-download {
    font-size: .8rem;
  }
}

