
header {
  position: absolute;
  top: 0;
  margin: 10px;

  nav {
    width: 95vw;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      border-radius: 20px;

      li {
        padding: 1rem 1.5rem;
        border-radius: 20px;
        &:hover {
          background-color: rgba(135, 206, 235, .7);
          cursor: pointer;
        }
      }
    }
  }
}