
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $nav-bgc;
  z-index: 10;

  nav {
    ul {
      line-height: 5.2vh;
      margin: auto;
      display: flex;
      justify-content: center;
      list-style-type: none;
      border-radius: 20px;
      
      li {
        font-size: 1.1rem;
        
        a {
          padding: 0 30px;
          display: block;
          text-decoration: none;
        }

        &:hover {
          background-color: $hover-bgc-nav;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}