section.portfolio-section {
  background: url('./images/bg-cont-2.svg');
  background-size: cover;
  
  h2 {
    padding-top: 7vh;
    margin-bottom: 20px;
    text-align: center;
  }
  
  div.projects-container {
    overflow: scroll;
    height: 76vh;
    display: grid;
    max-width: 1050px;
    margin: auto;
    padding: 1%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;  
    }
    &::-webkit-scrollbar-thumb {
      background: #FF0000;
    }
  }


}