section.portfolio-section {
  background: url('./images/bg-cont-2.svg');
  background-size: cover;
  
  h2 {
    padding-top: 7%;
    text-align: center;
  }
  
  div.projects-container {
    display: grid;
    grid-gap: 2%;
    padding: 1% 7%;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-items: center;
  }
}