section.portfolio-section {
  background: url('./images/bg-cont-2.svg');
  background-size: cover;
  
  h2 {
    padding-top: 7vh;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: $font-dark;
  }
  
  div.projects-container {
    background-color: $splash-bgc-light;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 20px hsla(183, 49%, 63%, .2);  
    overflow: scroll;
    height: 76vh;
    display: grid;
    max-width: 1050px;
    margin: auto;
    padding: 1%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
  }

  @media #{$media-query-phone} {
    div.projects-container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

}