section.languages-skills {
  display: flex;
  background-color: $splash-bgc-light;
  border-radius: 10px;
  padding: 10px;
  
  div.skills-container {
    width: 18%;
      span.lang-img-cont {
        display: flex;
        align-items: center;
        text-align: right;
        border-right: 1px solid $font-lighter;
        font-size: .8rem;
        font-weight: bold;
        color: $font-darker;
        
        img {
          width: 40%;
          margin: auto;
          margin-right: 10px;
        }
      }

      div {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
  }
}