section.splash {
  display: flex;
  background: url('./images/splash.jpg') no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 15rem;
    font-weight: 500;
  }

  div.splash-intro {
    padding: 10px;

    p {
      font-size: 2rem;
    }

  }

  .arrow-down {
    box-sizing: border-box;
    margin: auto;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: white;
    border-width: 0px 6px 6px 0px;
    transform: rotate(45deg);
    transition: 150ms ease-in-out;
    border-radius: 5px;
    position: absolute;
    bottom: 4%;
  }

  .arrow-down:hover {
    border-bottom-width: 8px;
    border-right-width: 8px;
    border-color: lightblue;
  }

  .photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px black;
  }
}