section.splash {
  display: flex;
  background: url('./images/splash.jpg') no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $primary-font;

  article {
    display: flex;
    align-items: flex-end; 
    flex-wrap: wrap;

    h1 {
      font-size: 15rem;
      margin: 0;
      font-weight: lighter;
    }
  
    div.splash-intro {
      padding: 10px;
      border: 2px solid purple;
      border-radius: 20px;
      height: 50%;
      margin: 65px 30px;
      min-width: 290px;
      p {
        font-size: 2rem;
      }
    }
  }

  .arrow-down-desc {
    position: absolute;
    bottom: 8%;
    color: white;
    z-index: 1;
  }

  .arrow-down {
    box-sizing: border-box;
    margin: auto;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    transition: 350ms ease-in-out;
    border-radius: 10px;
    position: absolute;
    bottom: 4%;
    z-index: 2;
    cursor: pointer;
  }

  .arrow-down:hover {
    border-width: 0px 6px 6px 0px;
    transform: scale(1.2) rotate(45deg);;
    border-color: lightblue;
  }

  .photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px gray;
  }
}