@import url('https://fonts.googleapis.com/css?family=Nunito');

$primary-font: 'Nunito', sans-serif;


// BLUE
$primary-light: hsl(200, 76%, 90%);
$secondary-light: hsl(191, 76%, 38%);
$primary-dark: hsl(222, 50%, 29%);
$secondary-dark: hsl(204, 64%, 33%);

// #355c7d
$font-lighter: hsl(0, 14%, 97%);
$font-light: hsl(213, 47%, 47%);
$font-darker: hsl(212, 64%, 19%);
$font-dark: hsl(208, 40%, 35%);
// #3f72af // 



$bgc-light: hsla(200, 76%, 90%, .5);
$nav-bgc: hsl(183, 49%, 63%);
$hover-bgc-nav: hsl(180, 87%, 94%);

.slide-left {
  box-shadow: inset -200px 0 0 0 $hover-bgc-nav;
}

.slide-right {
  box-shadow: inset 200px 0 0 0 $hover-bgc-nav;
}

@mixin box-styling {
  margin: 20px;
  padding: 0 10px;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform:scaleY(0);
    bottom: -40%;
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
