@import url('https://fonts.googleapis.com/css?family=Nunito');

$primary-font: 'Nunito', sans-serif;


// BLUE
$primary-light: hsl(200, 76%, 90%);
$secondary-light: hsl(191, 76%, 38%);
$primary-dark: hsl(222, 50%, 29%);
$secondary-dark: hsl(204, 64%, 33%);

$bgc-light: hsla(200, 76%, 90%, .6);