header {
  display: flex;
  max-width: 1300px;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  ul {
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;

    li {
      margin: .5rem;
    }
  }
}